<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smc"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="29"
              android:targetSdkVersion="36" />

    <application android:label="SMC Test"
                 android:hasCode="false"
                 android:extractNativeLibs="false">

        <activity android:name="android.app.NativeActivity"
                  android:exported="true">
            <meta-data android:name="android.app.lib_name"
                       android:value="smc_test" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
